<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">

    <link rel="stylesheet" href="/styles.css">


    <title>Weekend Away</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400&display=swap" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400&display=swap');
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">


</head>

<body>
    <!-- <main> -->
    <div class="container">

        <form action="/" method="post">
            <div class="outercontainer">
                <div class=boxborder>
                    <div class=origin-note>
                        Origin: Lisbon
                    </div>
                    <div class=inputdata>
                        <span class="departureDate">
                            <input type="date" id="departureDateId" name="departureDateName" value="2023-01-13"">
                        </span>
                        <i class=" fas fa-plane-departure planeicon"></i>

                            <span class=" departureTimes">
                                <input type="time" id="departureTimeStartId" name="departureTimeStartName"
                                    value="18:00">
                                <input type="time" id="departureTimeEndId" name="departureTimeEndName" value="20:00">
                            </span>
                    </div>


                </div>
            </div>



            <h1 class=" homeTitle">Find Flights for a Weekend Away</h1>
            <!-- <input type="text" id="firstName" placeholder="First" name="fName" required autofocus>
                <input type="text" id="lastName"  placeholder="Last Name" name="lName" required>
                <input type="email" id="inputEmail" placeholder="Email" name="iEmail" required> -->

            <!-- <select name="originName" id="originId" value="Bangkok">
                    <option value="Lisbon">Lisbon</option>
                    <option value="Bangkok">Bangkok</option>
                    <option value="Bali">Bali</option>
                </select> -->

            <h2 class="instruction-question">Where are you flying from?</h1>
                <!-- <input type="radio" name="originName" value="Bangkok"> Bangkok -->
                <br>
                <input type="radio" name="originName" value="Lisbon" checked> Lisbon
                <br>
                <!-- <input type="radio" name="originName" value="Bali"> Bali -->
                <br>


                <h2 class="instruction-question"> When do you want to leave?</h2>
                <br>
                <br>

                Between
                <!-- this comment is necessary to avoid a space in vs studio <input type=" time"
                    id="departureTimeStartId" name="departureTimeStartName" value="14:00"> -->

                and

                <h2 class="instruction-question"> When do you want to arrive back?</h2>
                <input type="date" id="returnDateId" name="returnDateName" value="2023-01-15">
                <br>
                <br>Arriving back home between
                <input type="time" id="returnTimeStartId" name="returnTimeStartName" value="16:00">
                and
                <input type="time" id="returnTimeEndId" name="returnTimeEndName" value="18:00">

                <br>
                <br>
                <button type="search">Find Some Destinations!</button>
                <br>
                <br>
                <br>
                <!-- <p class="output">test output</p> -->

                <p> These destinations are available </p>

                <% for (const child of foundDestinations){ %>


                    <p>
                        <%= child.retAirport %>
                    </p>



                    <% } %>

                        <p> Details</p>

                        <% for (const child of foundDestinations){ %>

                            <p>
                                Departure Airport: <%= child.depAirport %>
                            </p>
                            <p>
                                Departure Time: <%= child.depTime.substring(12) %>
                            </p>
                            <p>
                                Flight Number: <%= child.depFlightNumber %>
                            </p>
                            <p>
                                Destination Airport: <%= child.retAirport %>
                            </p>
                            <p>
                                Return Arrival Time: <%= child.arrTime.substring(12) %>
                            </p>
                            <p>
                                Flight Number: <%= child.retFlightNumber %>
                            </p>
                            <br>

                            <% } %>


                                <p> Destinations are based on historical flight schedules</p>

        </form>
    </div>
    <br>
    <div class="footer">
        <p>&copy; jorisfalter.com</p>

    </div>

    <!-- </main> -->
</body>

</html>