<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">




    <title>Weekend Away</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400&display=swap" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400&display=swap');
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="styles.css">


</head>

<body>
    <!-- <main> -->
    <div class="container">

        <form action="/" method="post">
            <h1 class=" homeTitle">Flights for Flaneurs</h1>
            <br>
            <h3>When Can You Leave? When Do You Want To Be Back?</h3>
            <h3>We know the destinations available!</h3>


            <br>
            <div class="outercontainer">
                <div class=boxborder>
                    <div class="container">
                        <div class=origin-note>
                            Origin: Lisbon
                        </div>
                        <div class=explainer-note>

                        </div>
                        <div class="row">
                            <div class="col-md-9">
                                <div class="row">

                                </div>
                                <div class="row">
                                    <div class="departuresDateAndTime">

                                        <span class="departureDate">
                                            <input type="date" id="departureDateId" name="departureDateName"
                                                value="2023-02-17">

                                        </span>
                                        <span class=" departureTimes">
                                            <input class="depTimeOne" type="time" id="departureTimeStartId"
                                                name="departureTimeStartName" value="16:00">
                                            <input class="depTimeTwo" type="time" id="departureTimeEndId"
                                                name="departureTimeEndName" value="18:00">
                                        </span>
                                        <i class=" fas fa-plane-departure planeicon"></i>

                                    </div>

                                </div>
                                <hr class="mobileSeparator">
                                <div class="row">


                                    <div class="arrivalDateAndTime">

                                        <span class="arrivalDate">
                                            <input type="date" id="returnDateId" name="returnDateName"
                                                value="2023-02-20">
                                        </span>
                                        <span class="arrivalTimes">
                                            <input class="RetTimeOne" type="time" id="returnTimeStartId"
                                                name="returnTimeStartName" value="13:00">
                                            <input class="RetTimeOne" type="time" id="returnTimeEndId"
                                                name="returnTimeEndName" value="18:00">
                                        </span>
                                        <i class="fa-solid fa-plane-arrival planeicon"></i>

                                    </div>
                                </div>
                                <hr class="mobileSeparator">

                            </div>
                            <div class="col-md-3">
                                <div class="searchButtonBootstrap">
                                    <button type="search">Find <br> Destinations!</button>

                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>





            <br><br><br><br><br>



            <div class=boxborder>

                <div class="container">


                    <% if (foundDestinations.length===0 ){ %>
                        <p>No Solutions</p>

                        <% }else { %>

                            <% for (const child of foundDestinations){ %>



                                <div class="row border-bottom">

                                    <div class="col-md-2">
                                        <p class="result-note">Destination</p>
                                        <p>

                                            <% if (child.destinationInFull !=="noname" ){ %>
                                                <%= child.destinationInFull %>
                                                    <% } else { %>
                                                        <%= child.retAirport %>
                                                            <% } %>

                                        </p>
                                    </div>
                                    <div class="col-md-5">
                                        <p class=result-note>Leaving</p>
                                        <p>
                                            <%= child.depFlightNumber %>
                                                <%= child.depAirline %>

                                        </p>
                                        <p>
                                            <%= child.depTime.substring(12) %>
                                        </p>
                                    </div>
                                    <div class="col-md-5">
                                        <p class=result-note>Back Home</p>
                                        <p>
                                            <%= child.retFlightNumber %>
                                                <%= child.retAirline %>

                                        </p>
                                        <p>
                                            <%= child.arrTime.substring(12) %>
                                        </p>
                                    </div>
                                </div>
                                <br>


                                <% } %>
                                    <% } %>

                </div>
            </div>


            <p class="bottomNote">Destinations are based on historical flight schedules</p>

        </form>
    </div>
    <br>
    <div class="footer">
        <p>&copy; jorisfalter.com</p>

    </div>

    <!-- </main> -->
    <script src="index.js"></script>
</body>

</html>