<!doctype html>
<html lang="en">

<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-NKP9XJDL2T"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-NKP9XJDL2T');
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">



    <title>Flights For Flaneurs</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">



    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;700&family=Quicksand:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;700&family=Quicksand:wght@300;400;500;600;700&display=swap');
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="styles.css">

    <!-- Include Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />


    <!-- Include Leaflet JavaScript -->
    <script type="text/javascript" src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script type="text/javascript" src="leaflet.curve.js"></script>




    <style>
        #map {
            height: 500px;
        }
    </style>
</head>

<body>
    <!-- <main> -->
    <div class="container">

        <form action="/" method="post">
            <h1 class=" homeTitle">Flights for Flaneurs</h1>
            <br>
            <h3>When Can You Leave? When Do You Want To Be Back?</h3>
            <h3>We know the destinations available!</h3>


            <br>
            <div class="outercontainer">
                <div class="boxborder">
                    <div class="origin-container">
                        <div class=origin-note>
                            Origin: <br>
                            <p><span class="departure-note">
                                    We have <s>four</s> <b>one</b> departure location as this data is crazy expensive
                                </span>🤔<span class="departure-note"></span>
                            </p>

                            <!-- <br>Lisbon -->
                        </div>
                        <label class="radio-inline">
                            <input class="radio-button-button" type="radio" name="originName" value="Lisbon"
                                <%=checkboxStatus[0]%>><s>Lisbon 🥧</s>
                        </label>
                        <label class="radio-inline">
                            <input class="radio-button-button" type="radio" name="originName" value="Austin"
                                <%=checkboxStatus[1]%>><s>Austin 🤠</s>
                        </label>
                        <label class="radio-inline">
                            <input class="radio-button-button" type="radio" name="originName" value="Bangkok"
                                <%=checkboxStatus[2]%>><s>Bangkok 💃</s>
                        </label>
                        <label class="radio-inline">
                            <input class="radio-button-button" type="radio" name="originName" value="Phuket"
                                <%=checkboxStatus[3]%>>Phuket 🌴
                        </label>

                    </div>
                </div>
            </div>
            <br>
            <div class="outercontainer">
                <div class=boxborder>
                    <div class="container">
                        <div class=origin-note>
                            Departure and Arrival Back Home<br>

                        </div>

                        <!-- <input name="originName" value="Lisbon" type="hidden"> -->
                        <!-- <div class=explainer-note>

                        </div> -->
                        <div class=" row">
                            <div class="col-md-9">
                                <div class="row">

                                </div>
                                <div class="row">
                                    <div class="departuresDateAndTime">

                                        <span class="departureDate">
                                            <input type="date" id="departureDateId" name="departureDateName"
                                                value=<%=inputDate1%>>

                                        </span>
                                        <span class=" departureTimes">
                                            <input class="depTimeOne" type="time" id="departureTimeStartId"
                                                name="departureTimeStartName" value=<%=inputTime1%>>
                                            <input class="depTimeTwo" type="time" id="departureTimeEndId"
                                                name="departureTimeEndName" value=<%=inputTime2%>>
                                        </span>
                                        <i class=" fas fa-plane-departure planeicon"></i>

                                    </div>

                                </div>
                                <hr class="mobileSeparator">
                                <div class="row">


                                    <div class="arrivalDateAndTime">

                                        <span class="arrivalDate">
                                            <input type="date" id="returnDateId" name="returnDateName"
                                                value=<%=inputDate2%>>
                                        </span>
                                        <span class="arrivalTimes">
                                            <input class="RetTimeOne" type="time" id="returnTimeStartId"
                                                name="returnTimeStartName" value=<%=inputTime3%>>
                                            <input class="RetTimeOne" type="time" id="returnTimeEndId"
                                                name="returnTimeEndName" value=<%=inputTime4%>>
                                        </span>
                                        <i class="fa-solid fa-plane-arrival planeicon"></i>

                                    </div>
                                </div>
                                <hr class="mobileSeparator">

                            </div>
                            <div class="col-md-3">
                                <div class="searchButtonBootstrap">
                                    <button id="findDestButton" type="search">Find <br> Destinations!</button>

                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>






            <% if (!firstLoad){ %>
                <br>


                <div class=boxborder>
                    <!-- this is the map -->
                    <div id="map"></div>




                    <!-- <div class="container"> -->
                    <!-- <% let uniqueList=[] %> -->
                    <!-- <% for (const child of foundDestinations){ %> -->
                    <!-- <% if (!uniqueList.includes(child.retAirport)){ %> -->
                    <!-- <% uniqueList.push(child.retAirport) %> -->
                    <!-- <% if (child.destinationInFull !=="Unknown Airport" ){ %> -->
                    <!-- <%= child.destinationInFull %><br> -->
                    <!-- <% } else { %> -->
                    <!-- <%= child.retAirport %><br> -->
                    <!-- <% } %> -->
                    <!-- <% } %> -->
                    <!-- <% } %> -->
                    <!-- </div> -->
                </div>

                <br><br>
                <div class=boxborder>

                    <div class="container">


                        <% if (foundDestinations.length===0 && !firstLoad){ %>
                            <p>Looks like you're not flying anywhere ... No flights found...</p>

                            <% }else { %>




                                <% for (const child of foundDestinations){ %>



                                    <div class="row border-bottom">



                                        <div class="col-md-2">
                                            <p class="result-note">Destination</p>
                                            <p>

                                                <% if (child.destinationInFull !=="Unknown Airport" ){ %>
                                                    <%= child.destinationInFull %>
                                                        <% } else { %>
                                                            <%= child.retAirport %>
                                                                <% } %>

                                            </p>
                                        </div>
                                        <div class="col-md-5">
                                            <p class=result-note>Leaving</p>
                                            <p>
                                                <%= child.depFlightNumber %>
                                                    <%= child.depAirline %>

                                            </p>
                                            <p>
                                                <%= child.depTime.substring(12) %>
                                            </p>
                                        </div>
                                        <div class="col-md-5">
                                            <p class=result-note>Back Home</p>
                                            <p>
                                                <%= child.retFlightNumber %>
                                                    <%= child.retAirline %>

                                            </p>
                                            <p>
                                                <%= child.arrTime.substring(12) %>
                                            </p>
                                        </div>
                                    </div>
                                    <br>


                                    <% } %>
                                        <% } %>

                    </div>
                </div>
                <% } %>


                    <p class="bottomNote">Destinations are based on historical flight schedules</p>

        </form>
    </div>
    <br>
    <div class="footer">
        <p><a href="about">About Flights for Flaneurs app</a></p>

    </div>

    <!-- </main> -->

    <script src="index.js"></script>
</body>

</html>